<header>
    <%= render "shared/home_button" %>
</header>

<h1> A wild pokemon has appeard...</h1>

<%= form_for @pokemon do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :weight %>
    <%= f.number_field :weight %>
    <%= f.label :poke_type, 'Type' %>
    <%= f.text_field :poke_type %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :sprite_url, 'Picture URL' %>
    <%= f.text_field :sprite_url %>
    <%= f.submit "Catch Pokemon!"%>
<% end %>